body {
    font-family: Arial, sans-serif;
    background-color: #40e0d0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #808080;
    flex-grow: 1;
}

.form-container {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #888;
    width: 100%;
    max-width: 600px;
    position: center;
}

.image-container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .image-container img {
        max-width: 100%;
        max-height: auto;
        border-radius: 50%;
    }

h2 {
    text-align: center;
    color: #333;
    font-size: 30px;
    font-family: Arial, sans-serif;
}

form {
    padding: 10px;
}

label {
    font-weight: bold;
    font-size: 12px;
}

input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
}

input[type="button"] {
    background-color: #40e0d0;
    color: #808080;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

    input[type="button"]:hover {
        background-color: #0056b3;
    }

.image-container {
    flex: 1;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .image-container img {
        max-width: 100%;
        max-height: auto;
        border-radius: 50%;
    }

.vision-text {
    font-weight: bold;
    text-align: center;
    color: #808080;
}

#copyright {
    text-align: center;
    font-style: italic;
    position: relative;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
}
